.container{
    display: flex;
    justify-content: center;
}

.about {
    margin-top: 3rem;
    width: 100vh;
    height: auto;
    border-radius: 15px;
    background-color: #3a3939;
    position: relative;
    overflow: hidden;
    
    line-height: 1rem;
    color: #f2f2f2;
}

.about span{
    font-weight: normal;
    line-height: 50px;
    font-size: 3rem;
    font-weight: bold;
}

.about p{
    color: white;
    line-height: normal;
    text-align: justify;
    padding-right: 1.5rem;
}

.about-text{
    padding-left: 2rem;
}

.about-line{
    background-color: white;
    min-height: 50rem;
    width: 1px;
    margin: 1rem 0 0 1rem;
    position: absolute;
}

@media(max-width:1000px){
    .about{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media(max-width: 900px){
    .about span{
        font-size: 2.8rem;
    }

    .about p{
        font-size: 18px;
    }
}

