.contact {
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 100vh;
    height: auto;
    min-height: 10rem;
    border-radius: 15px;
    background-color: #3a3939;
    position: relative;
    overflow: hidden;
    line-height: 1rem;
    color: #f2f2f2;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
    box-shadow: 2px 2px 5px #1a1919;
}

.contact.show{
    opacity: 1;
    transform: translateY(0);
}

.contact-info {
    display: flex;
    text-align: initial;
    flex-direction: column;
    gap: 0.1rem;
}

.contact-info span {
    padding-left: 1rem;
}

.contact h2 {
    text-align: center;
    font-weight: 600;
    text-shadow: 3px 3px 3px #1a1919;
}

.phone {
    width: fit-content;
    padding: 1rem 0 1rem 1rem;
    align-items: center;
    text-shadow: 3px 3px 3px #1a1919;
}

.email {
    width: fit-content;
    padding: 0 0 1rem 1rem;
    align-items: center;
    text-shadow: 3px 3px 3px #1a1919;
}

.location {
    width: fit-content;
    padding: 0 0 1rem 1rem;
    align-items: center;
    text-shadow: 3px 3px 3px #1a1919;
}

.contact-sub-info {

    padding: 0 1rem 1rem 1rem;
    display: flex;
    justify-content: end;
    
}

.contact-sub-info a {
    margin-left: 1rem;
    box-shadow: 2px 2px 5px #1a1919;
    transition: opacity 0.3s ease-out;
    
}


.contact-sub-info a:hover{
    opacity: 0.6;
}

@media(max-width:1000px) {
    .contact {
        margin: 0 1rem 1rem 1rem;
    }

    .contact-info {
        font-size: 17px;
    }
}

