.container{
    display: flex;
    justify-content: center;
}

.info {
    margin-top: 3rem;
    width: 100vh;
    height: auto;
    border-radius: 15px;
    background-color: #3a3939;
    position: relative;
    overflow: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    box-shadow: 2px 2px 5px #1a1919;
}

.info.show{
    opacity: 1;
    transform: translateY(0);
}

.info-text{
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 1rem;
    text-shadow: 3px 3px 3px #1a1919;   
}

.info-text h3 {
    font-size: 1.2rem;
    color: #f2f2f2;
    margin: 0;
    padding-bottom: 0.5rem;
}

.info-text .span1{
    background: linear-gradient(to right,#74EBD5 ,#9FACE6 );
    background-clip: text;
    color: #9FCAD9;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.2;
    margin-right: 1.2rem;
    
}
.info-text .span2{
    background: linear-gradient(to right,#74EBD5 ,#9FACE6 );
    background-clip: text;
    color: #9FACC8;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.2;
    
}

.icons {
    margin: 0.8rem 0.8rem 0rem 0rem;
    font-size: 2.2rem;
    box-shadow: 2px 2px 2px #1a1919;
    transition: opacity 0.5s ease-out;
    
}

.icons:hover{
    opacity: 0.7;
}

.info-content{
    padding: 3rem 0 0.7rem 1rem;
}

.contact-btn {
    font-size: 1rem;
    border-radius: 1.2rem;
    padding: 0.6rem 1.2rem 0.6rem 1.2rem;
    color: #f2f2f2;
    font-weight: 600;
    background: linear-gradient(to right,#74EBD5 ,#9FACE6 );
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 2px #1a1919;
    transition: opacity 0.5s ease-out;
    text-shadow: 2px 2px 10px #1a1919;
}

.contact-btn:hover{
    opacity: 0.8;
}

@media (max-width: 1000px) {
    .info{
        margin-right: 1rem;
        margin-left: 1rem;
    }

}

@media (max-width: 900px){

    .info-text .span1{
        font-size: 3rem;
    }
    .info-text .span2{
        display: block;
        font-size: 3rem;
    }

    .info-content{
        padding-top: 4rem;
    }
}