.container{
    display: flex;
    justify-content: center;
}

.info {
    margin-top: 3rem;
    width: 100vh;
    height: auto;
    border-radius: 15px;
    background-color: #3a3939;
    position: relative;
    overflow: hidden;
   
}

.info-text{
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 1rem;
}

.info-text h3 {
    font-size: 1.2rem;
    color: #f2f2f2;
    margin: 0;
    padding-bottom: 0.5rem;
}

.info-text span{
    background: linear-gradient(to right,#74EBD5 ,#9FACE6 );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.2;
}

.icons {
    margin: 0.8rem 0.8rem 0rem 0rem;
    font-size: 2.2rem;
}

.info-content{
    padding: 3rem 0 0.7rem 1rem;
}

.contact-btn {
    font-size: 1rem;
    border-radius: 1.2rem;
    padding: 0.6rem 1.2rem 0.6rem 1.2rem;
    color: #f2f2f2;
    font-weight: 600;
    background: linear-gradient(to right,#74EBD5 ,#9FACE6 );
    cursor: pointer;
    border: none;
}

@media (max-width: 1000px) {
    .info{
        margin-right: 1rem;
        margin-left: 1rem;
    }

}

@media (max-width: 900px){
    .info-text span{
        font-size: 3rem;
    }

    .info-content{
        padding-top: 4rem;
    }
}