.container {
    display: flex;
    justify-content: center;
}

.navbar {
    margin-top: 15px;
    display: flex;
    height: auto;
    min-height: 4.2rem;
    width: 100vh;
    background-color: #3a3939;
    position: relative;
    border-radius: 15px;
    font-weight: 500;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    box-shadow: 2px 2px 5px #1a1919;
}

.navbar.show {
    opacity: 1;
    transform: translateY(0);
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem 0 1rem;
}

.menu-btn {
    background: none;
    border: none;
    color: #f2f2f2;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.nav {
    display: flex;
    justify-content: end;
    width: 100%;

}

li {
    list-style-type: none;
    padding-bottom: 5px;
}

ul {
    display: flex;
    flex-direction: row;
}

.fire-icon {
    font-size: 2rem;
    position: absolute;

}

.aTag {
    color: #ffffff;
    text-decoration: none;
    padding-right: 1rem;
    text-shadow: 3px 3px 3px #1a1919;
    transition: opacity 0.3s ease-out;
}

.aTag:hover {
    opacity: 0.6;
}



@media (max-width: 900px) {

    .nav-content {
        align-items: normal;
    }

    .fire-icon {
        padding: 1.1rem 0 0 0;
    }

    .menu-btn {
        display: block;
        padding: 1.1rem 0 0 0;
    }

    .nav-options {
        display: none;
        margin-top: 50px;
        width: 100%;

    }

    .nav-options {
        display: flex;
        flex-direction: column;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.5s, max-height 0.5s;
    }

    .nav-options.show {
        opacity: 1;
        max-height: 500px;
    }


    ul {
        flex-direction: column;
    }

}

@media (max-width:1000px) {
    .navbar {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}