.container {
    display: flex;
    justify-content: center;
}

.skills {
    margin-top: 3rem;
    width: 100vh;
    height: auto;
    border-radius: 15px;
    background-color: #3a3939;
    position: relative;
    overflow: hidden;
    color: #f2f2f2;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
    box-shadow: 2px 2px 5px #1a1919;
}

.skills.show {
    opacity: 1;
    transform: translateY(0);
}

.skills h2 {
    text-align: center;
    text-shadow: 3px 3px 3px #1a1919;
}

.icons-skills {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    font-size: small;
    margin: 1rem;
}

.icons-skills div {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: 3px 3px 3px #1a1919;
}

@media(max-width:1000px) {
    .skills {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}